* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
/* Dark theme applied globally */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Light theme applied globally */
body.light {
  background-color: #ffffff;
  color: #000000;
}
